<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="{% url 'validate_user' %}" method="post">
    {% csrf_token %}
<fieldset>
    <table>
        <tr>
            <td> UserName </td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td> Password </td>
            <td>{{ form.password }}</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" id="submit"></td>
        </tr>
    </table>
</fieldset>
</form>
<div id="errors">
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
</div>
</body>
</html>